/*
FONTS
*/
/* =Circular
-----------------------------------------------------------------------------*/
@font-face {
font-family: 'CircularStd-Bold';
src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CircularStd-Bold.otf')  format('opentype'),
url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf')  format('truetype'), url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Consolas';
src: url('../fonts/Consolas.eot?#iefix') format('embedded-opentype'),  url('../fonts/Consolas.woff') format('woff'), url('../fonts/Consolas.ttf')  format('truetype'), url('../fonts/Consolas.svg#Consolas') format('svg');
font-weight: normal;
font-style: normal;
}







