/*
	HOME
*/
.section{
	text-align: center;
	background-color: #FFE5DB;
}

.line--1{
	width: 0px;
	height: 7px;
	background-color: @color--primary;
	margin: 0 auto;
}

.section-text{
	width: 100%;
	position: relative;

	#text-1,
	.text-3{
		opacity: 0;
	}
	h1{
		.title;
		color: white;
		font-size: 88px;
		margin: 0;
	}
	p{
		.text;
		color: white;
		font-size: 38px;
	}
}

.section-thumb{
	width: 100%;
	position: relative;
	overflow: hidden;

	img.img-1{
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 500, 00);
	}
	img.img-3{
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 500, 00);
	}
}

