/*
	HOME
*/
.section{
	text-align: center;
	background-color: #FFE5DB;
}


.section-text{
	//Position text
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

	.text-1,
	.text-2,
	.text-3{
		opacity: 0;
	}
	h1{
		.title;
		color: white;
		font-size: 88px;
		margin: 0;
	}
	p{
		.text;
		color: white;
		font-size: 38px;
	}
}

.section-thumb{
	//Position
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

	img.img--1{
		width: 100%;
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 500, 00);
	}
	img.img--2{
		width: 100%;
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 500, 00);
	}
	img.img--3{
		width: 100%;
		opacity: 0;
		//transform: matrix(1, 0, 0, 1, 500, 00);
	}
	img.img--4{
		width: 100%;
		opacity: 0;
		//transform: matrix(1, 0, 0, 1, 500, 00);
	}
}

